
/* Overrides for mobile sizes */
nav {
    font-size: 2em;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav a {
    display: none;
}

nav a#logo {
    display: block;
}

nav a#mobile-icon {
    display: block;
    font-weight: 900;
    text-decoration: none;
}

nav.active .nav-link {
    display: flex;
    width: 100%;
    padding: 20px 0;
}

header {
    padding-top: 160px
}

header h2 {
    display:none;
}
.content {
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.image_container {
    grid-gap: 40px;
}
