
/* Overrides for mobile sizes */
nav {
    font-size: 2em;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

nav a:not(:first-child) {
    display: none;
}

nav a.mobile-icon {
    display: inline-flex;
    font-weight: 900;
    flex-direction: column-reverse;
    text-decoration: none;
}

/* nav .mobile-icon::after {
    content:"...";
} */

nav .active a {
    display: block;   
    text-align: right;
    padding: 15px 5px;
    border-bottom: 1px solid #583441;
}

header {
    padding-top: 160px
}

header h2 {
    display:none;
}
.content {
    grid-template-columns: 1fr;
    grid-gap: 40px;
}

.image_container {
    grid-gap: 40px;
}
